/* Global Design */
.body1 {
    background-image: url('../img/lyn1.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.body2 {
    background-image: url('../img/lyn2.png');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.body3 {
    background-image: url('../img/lyn3.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.body4 {
    background-image: url('../img/lyn4.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.body5 {
    background-image: url('../img/lyn5.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.body6 {
    background-image: url('../img/lyn6.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.button1 {
    background-color: transparent;
    border: transparent;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.button1:hover {
    background-color: #97969662;
}

table {
    border-collapse: collapse;
    border-color: black;
}

/* Mobile Design */
@media only screen and (max-width: 700px) {

}

/* Desktop Design */
@media only screen and (min-width: 700px) {
    table {
        font-size: 30px;
    }
    .lyn {
        width: 185px;
    }
}

/* For Modal img */
#modal-lyn1:hover, #modal-lyn2:hover, #modal-lyn3:hover, #modal-lyn4:hover, #modal-lyn5:hover, #modal-lyn6:hover {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;
}
.class-modal-lyn1, .class-modal-lyn2, .class-modal-lyn3, .class-modal-lyn4, .class-modal-lyn5, .class-modal-lyn6 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.img-class-modal-lyn1, .img-class-modal-lyn2, .img-class-modal-lyn3, .img-class-modal-lyn4, .img-class-modal-lyn5, .img-class-modal-lyn6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
.close1, .close2, .close3, .close4, .close5, .close6 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close1:hover, .close2:hover, .close3:hover, .close4:hover, .close5:hover, .close6:hover,
.close1:focus, .close2:focus, .close3:focus, .close4:focus, .close5:focus, .close6:focus {
    color: #363636;
    text-decoration: none;
    cursor: pointer;
}