/* Global Design */
.body1 {
    margin: 100;
    height: 100vh;
    background-image: url('../img/gwyne.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.body2 {
    margin: 100;
    height: 100vh;
    background-image: url('../img/gwyne2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.body3 {
    margin: 100;
    height: 100vh;
    background-image: url('../img/gwyne3.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.body4 {
    margin: 100;
    height: 100vh;
    background-image: url('../img/gwyne4.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

table {
    border-collapse: collapse;
    border-color: black;
}

.button {
    border: 1px transparent;
    background-color: transparent;
    padding: 10px 15px;
    cursor: pointer;
}


/* This is for desktop design */
@media only screen and (min-width: 700px) {
    .gwyne {
        width: 185px;
    }
    table {
        font-size: 30px;
    }
    
}

/* This is for mobile design */
@media only screen and (max-width: 700px) {
    .gwyne {
        width: 150px;
    }
}

/* For Modal img */
#modal-gwyne1:hover, #modal-gwyne2:hover, #modal-gwyne3:hover, #modal-gwyne4:hover {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;
}
.class-modal-gwyne1, .class-modal-gwyne2, .class-modal-gwyne3, .class-modal-gwyne4 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.img-class-modal-gwyne1, .img-class-modal-gwyne2, .img-class-modal-gwyne3, .img-class-modal-gwyne4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
.close1, .close2, .close3, .close4 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close1:hover, .close2:hover, .close3:hover, .close4:hover,
.close1:focus, .close2:focus, .close3:focus, .close4:focus {
    color: #363636;
    text-decoration: none;
    cursor: pointer;
}